* {
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
}

// font sizes
$sub-title-fs: 1.4em !important;
$span-fs: 1.6em !important;
$span-sm-fs: 1.2em !important;
$nav-item-fs: 1.8em !important;
$h1-fs: 2.4em !important;
$h1-xtra-fs: 3em !important;
$h1-xxtra-fs: 3.3em !important;


h1 {
    font-size: $h1-fs;
    font-weight: bold;
}


// column padding below
.row {
    > div {
        padding: 8px !important;
    }
    .padMore {
        padding: 24px !important;
    }
}

.padMeMore {
    padding: 24px !important;
}

.styled-button {
    width: 45%;
}

.full-vh {
    height: 100vh !important;
}

.input-group {
    .form-input-label {
        position: absolute;
        left: 2px;
    }
}

.StripeCheckout  {
    float: right;
    position: relative;
    top: 20px;
    margin-bottom: 50px !important;
}

.test-card-warning {
    color: red;
    font-size: 32px;
    margin: 40px 0px 40px 0px;
}

.cart-item {
    .img-container {
        position: relative;
        display: inline-block;
        width: 80%;
        overflow: hidden;
        height: 95px;
        img {
            width: 100%;
            min-height: 95px;
        }
    }
    .item-details {
        position: relative;
        width: 100%;
        display: inline-block;
        * {
            display: inline-block;
            font-size: 22px !important;
        }
    }
}

.cart-dropdown {
    $cart-d-padding: 25px;
    position: absolute;
    right: 0px;
    top: 100px;
    border: 2px solid black;
    background: white;
    padding: $cart-d-padding;
    width: 300px;
    height: 400px;
    z-index: 10;
    .cart-items {
        position: relative;
        overflow-y: scroll;
        width: 100%;
        height: 268px;
    }
    .cart-is-empty-span {
        display: inline-block;
        position: relative;
        top: calc(50% - 0.95em);
        width: 100% !important;
        font-size: 2em !important;
        font-weight: 500;
        text-align: center;
    }
    button {
        position: relative;
        width: 100%;
        height: 60px;
        font-size: 1.6em !important;
        top: 18px;
    }
}

.cart-icon {
    position: relative;
    top: 24px;
    left: 13px;
    cursor: pointer;
    height: 34px;

    .cart-icon-svg {
        position: relative;
        width: 30px;
        height: 30px;
    }
    .item-count {
        text-align: center;
        width: 23px;
        position: absolute;
        top: 7.5px;
        left: 3px;
        font-weight: bold;
        font-size: 16px;
    }
}

.navbar {
    margin: 20px;
    .nav-logo {
        width: 80px;
        height: auto;
    }
    .nav-item {
        font-size: $nav-item-fs;
        color: black;
        padding: 10px;
        margin: 10px 15px 10px 15px;
        &:hover {
            opacity: 0.65;
            text-decoration: none;
        }
    }
}

#authPage {
    .row {
        height: 70vh;
    }
    h2 {
        font-size: $h1-xtra-fs;
        + span {
            display: block;
            margin-bottom: 40px;
            font-size: $span-fs;
            color: grey;
        }
    }
    .text-muted {
        font-size: $span-sm-fs;
    }
    .sign-up-container {
        position: relative;
        top: 127px;
    }
    .styled-button {
        display: block;
        position: relative;
        padding: 8px 30px 8px 30px;
        width: 100%;
    }
}

#sign-in-form {
    .field-label {
        font-size: $span-fs;
    }
    .styled-button {
        margin-top: 40px;
        font-size: $span-fs;
    }
}

.sp-title {
    font-size: $h1-xxtra-fs;
    font-weight: bold;
}

#checkoutPage {
    .header-total {
        border-top: 2px solid #DEE2E6;
    }
    .checkout-header {
        margin: auto;
        .checkout-product-img-container {
            position: relative;
            width: 180px;
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        td {
            position: relative;
            top: 50%;
            text-align: left;
            font-size: 1.5em;
            span {
                position: relative;
                top: calc(100px - 0.7em);
            }
            .remove-x {
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
                &:active {
                    opacity: 0.5;
                }
            }
            .quantity-wrapper {
                position: relative;
                .quantity-decrease, .quantity-increase {
                    position: absolute;
                    top: 49px;
                    font-size: 2.5em;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                    &:active {
                        opacity: 0.5;
                    }
                }
                .quantity-decrease {
                    content: "\2039";
                    left: 58px;
                }
                .quantity-increase {
                    content: "\203A";
                    left: 107px;
                }
            }

        }
        th {
            text-align: left;
            font-size: 1.8em;
            font-weight: 600;
            border-top: 0px;
        }
    }
}

#shopPage {

    .collection-preview {
        display: block;
        position: relative;
        .preview-title {
            font-size: $h1-xtra-fs;
        }

    }
    .collection-item {
        display: inline-block;
        width: 100%;
        > .bg-img-container {
            height: 400px;
            overflow: hidden;
            > .bg-img {
                min-height: 400px;
                min-width: 100%;
            }
            > button {
                display: block !important;
                position: absolute;
                left: 15%;
                bottom: 18%;
                width: 70%;
                background: rgba(255, 255, 255, 0.7);
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: $h1-fs;
                outline: none !important;
                border: 2px solid black !important;
                transition: 0.25s;
                &:active {
                    opacity: 0.5;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.75);
                    color: white;
                    transition: 0.45s;
                }
            }
        }
        > .name {
            font-size: $span-fs;
            float: left;
        }
        > .price {
            font-size: $span-fs;
            float: right;
        }
    }
}

#homePage {
    .dirMenu {
        position: relative;
        .menu-item {
            position: relative;
            padding: 60px;
            border: 2px solid black;
            width: 100%;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                > .content {
                    background: rgba(255, 255, 255, 0.85);
                }
                img {
                    transform: scale(1.2);
                    transform-origin: center;
                    transition: 8s;
                }
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
                height: auto;
                z-index: -1;
            }
            > .content {
                padding: 20px;
                max-width: 170px;
                margin: auto;
                background: rgba(255, 255, 255, 0.65);
                > .title {

                }
                > .sub-title {
                    font-size: $sub-title-fs;
                    letter-spacing: 2px;
                    font-weight: 400;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    $span-fs: 2em !important;
    $h1-xtra-fs: 3em !important;
    #authPage {
        .styled-button {
            display: inline-block;
            position: relative;
            width: 45%;
            &.google {
                float: right;
            }
        }
    }
    #shopPage {
        .collection-preview {
            .preview-title {
                font-size: $h1-xtra-fs;
            }
        }
        .collection-item {
            display: inline-block;
            width: 100%;
            > .bg-img-container {
                height: 600px;
                overflow: hidden;
                > .bg-img {
                    min-height: 100% !important;
                    width: auto;
                }
                > button {
                    display: block !important;
                }
            }
            > .name {
                font-size: $span-fs;
            }
            > .price {
                font-size: $span-fs;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    $span-fs: 1.8em !important;
    $h1-xtra-fs: 2.7em !important;
    #shopPage {
        .collection-preview {
            .preview-title {
                font-size: $h1-xtra-fs;
            }
        }
        .collection-item {
            display: inline-block;
            width: 100%;
            > .bg-img-container {
                height: 350px;
                overflow: hidden;
                &:hover {
                    button {
                        display: block !important;
                    }
                }
                > .bg-img {
                    position: relative;
                    min-height: 100% !important;
                    width: auto;
                }
                > button {
                    display: none !important;
                    z-index: 1;
                }
            }
            > .name {
                font-size: $span-fs;
            }
            > .price {
                font-size: $span-fs;
            }
        }
    }
    #homePage {
        .dirMenu {
            .menu-item {
                &.lg {
                    padding: 60px;
                }
                > .content {
                    > .title {

                    }
                    > .sub-title {
                        font-size: $sub-title-fs;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #homePage {
        .dirMenu {
            .menu-item {
                height: 340px;
                img {
                    height: 100%;
                    width: auto;
                }
                &.lg {
                    height: 440px;
                    padding: 100px;
                }
                > .content {
                    position: relative;
                    padding: 30px 20px 30px 20px;
                    top: calc(50% - 55px);
                    > .sub-title {
                        font-size: $sub-title-fs;
                    }
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #homePage {
        .dirMenu {
            .menu-item {
                img {
                    height: auto;
                    width: 101%;
                }
                > .content {
                    > .sub-title {
                        font-size: $sub-title-fs;
                    }
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}

@media (min-width: 1900px) {
    $span-fs: 2.4em !important;
    $h1-xtra-fs: 3em !important;
    #shopPage {
        .collection-preview {
            .preview-title {
                font-size: $h1-xtra-fs;
            }
        }
        .collection-item {
            display: inline-block;
            width: 100%;
            > .bg-img-container {
                height: 650px;
                overflow: hidden;
                > .bg-img {
                    min-height: 100% !important;
                    width: auto;
                }
            }
            > .name {
                font-size: $span-fs;
                float: left;
            }
            > .price {
                font-size: $span-fs;
                float: right;
            }
        }
    }
    #homePage {
        .dirMenu {
            .menu-item {
                height: 500px;
                &.lg {
                    height: 700px;
                }
                > .content {
                    > .sub-title {
                        font-size: $sub-title-fs;
                    }
                }
            }
        }
    }
}
