* {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 2.4em !important;
  font-weight: bold; }

.row > div {
  padding: 8px !important; }
.row .padMore {
  padding: 24px !important; }

.padMeMore {
  padding: 24px !important; }

.styled-button {
  width: 45%; }

.full-vh {
  height: 100vh !important; }

.input-group .form-input-label {
  position: absolute;
  left: 2px; }

.cart-item .img-container {
  position: relative;
  display: inline-block;
  width: 80%;
  overflow: hidden;
  height: 95px; }
  .cart-item .img-container img {
    width: 100%;
    min-height: 95px; }
.cart-item .item-details {
  position: relative;
  width: 100%;
  display: inline-block; }
  .cart-item .item-details * {
    display: inline-block;
    font-size: 22px !important; }

.cart-dropdown {
  position: absolute;
  right: 0px;
  top: 100px;
  border: 2px solid black;
  background: white;
  padding: 25px;
  width: 300px;
  height: 400px;
  z-index: 10; }
  .cart-dropdown .cart-items {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 268px; }
  .cart-dropdown .cart-is-empty-span {
    display: inline-block;
    position: relative;
    top: calc(50% - 0.95em);
    width: 100% !important;
    font-size: 2em !important;
    font-weight: 500;
    text-align: center; }
  .cart-dropdown button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 1.6em !important;
    top: 18px; }

.cart-icon {
  position: relative;
  top: 24px;
  left: 13px;
  cursor: pointer;
  height: 34px; }
  .cart-icon .cart-icon-svg {
    position: relative;
    width: 30px;
    height: 30px; }
  .cart-icon .item-count {
    text-align: center;
    width: 23px;
    position: absolute;
    top: 7.5px;
    left: 3px;
    font-weight: bold;
    font-size: 16px; }

.navbar {
  margin: 20px; }
  .navbar .nav-logo {
    width: 80px;
    height: auto; }
  .navbar .nav-item {
    font-size: 1.8em !important;
    color: black;
    padding: 10px;
    margin: 10px 15px 10px 15px; }
    .navbar .nav-item:hover {
      opacity: 0.65;
      text-decoration: none; }

#authPage .row {
  height: 70vh; }
#authPage h2 {
  font-size: 3em !important; }
  #authPage h2 + span {
    display: block;
    margin-bottom: 40px;
    font-size: 1.6em !important;
    color: grey; }
#authPage .text-muted {
  font-size: 1.2em !important; }
#authPage .sign-up-container {
  position: relative;
  top: 127px; }
#authPage .styled-button {
  display: block;
  position: relative;
  padding: 8px 30px 8px 30px;
  width: 100%; }

#sign-in-form .field-label {
  font-size: 1.6em !important; }
#sign-in-form .styled-button {
  margin-top: 40px;
  font-size: 1.6em !important; }

.sp-title {
  font-size: 3.3em !important;
  font-weight: bold; }

#checkoutPage .checkout-header {
  margin: auto; }
  #checkoutPage .checkout-header .checkout-product-img-container {
    position: relative;
    width: 180px;
    height: 200px;
    overflow: hidden; }
    #checkoutPage .checkout-header .checkout-product-img-container img {
      width: 100%;
      height: auto; }
  #checkoutPage .checkout-header td {
    position: relative;
    top: 50%;
    text-align: left;
    font-size: 1.5em; }
    #checkoutPage .checkout-header td span {
      position: relative;
      top: calc(100px - 0.7em); }
    #checkoutPage .checkout-header td .remove-x {
      cursor: pointer; }
      #checkoutPage .checkout-header td .remove-x:hover {
        opacity: 0.8; }
      #checkoutPage .checkout-header td .remove-x:active {
        opacity: 0.5; }
    #checkoutPage .checkout-header td .quantity-wrapper {
      position: relative; }
      #checkoutPage .checkout-header td .quantity-wrapper .quantity-decrease, #checkoutPage .checkout-header td .quantity-wrapper .quantity-increase {
        position: absolute;
        top: 49px;
        font-size: 2.5em;
        cursor: pointer; }
        #checkoutPage .checkout-header td .quantity-wrapper .quantity-decrease:hover, #checkoutPage .checkout-header td .quantity-wrapper .quantity-increase:hover {
          opacity: 0.8; }
        #checkoutPage .checkout-header td .quantity-wrapper .quantity-decrease:active, #checkoutPage .checkout-header td .quantity-wrapper .quantity-increase:active {
          opacity: 0.5; }
      #checkoutPage .checkout-header td .quantity-wrapper .quantity-decrease {
        content: "\2039";
        left: 58px; }
      #checkoutPage .checkout-header td .quantity-wrapper .quantity-increase {
        content: "\203A";
        left: 108px; }
  #checkoutPage .checkout-header th {
    text-align: left;
    font-size: 1.8em;
    font-weight: 600;
    border-top: 0px; }

#shopPage .collection-preview {
  display: block;
  position: relative; }
  #shopPage .collection-preview .preview-title {
    font-size: 3em !important; }
#shopPage .collection-item {
  display: inline-block;
  width: 100%; }
  #shopPage .collection-item > .bg-img-container {
    height: 400px;
    overflow: hidden; }
    #shopPage .collection-item > .bg-img-container > .bg-img {
      min-height: 400px;
      min-width: 100%; }
    #shopPage .collection-item > .bg-img-container > button {
      display: block !important;
      position: absolute;
      left: 15%;
      bottom: 18%;
      width: 70%;
      background: rgba(255, 255, 255, 0.7);
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 2.4em !important;
      outline: none !important;
      border: 2px solid black !important;
      transition: 0.25s; }
      #shopPage .collection-item > .bg-img-container > button:active {
        opacity: 0.5; }
      #shopPage .collection-item > .bg-img-container > button:hover {
        background: rgba(0, 0, 0, 0.75);
        color: white;
        transition: 0.45s; }
  #shopPage .collection-item > .name {
    font-size: 1.6em !important;
    float: left; }
  #shopPage .collection-item > .price {
    font-size: 1.6em !important;
    float: right; }

#homePage .dirMenu {
  position: relative; }
  #homePage .dirMenu .menu-item {
    position: relative;
    padding: 60px;
    border: 2px solid black;
    width: 100%;
    overflow: hidden; }
    #homePage .dirMenu .menu-item:hover {
      cursor: pointer; }
      #homePage .dirMenu .menu-item:hover > .content {
        background: rgba(255, 255, 255, 0.85); }
      #homePage .dirMenu .menu-item:hover img {
        transform: scale(1.2);
        transform-origin: center;
        transition: 8s; }
    #homePage .dirMenu .menu-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      height: auto;
      z-index: -1; }
    #homePage .dirMenu .menu-item > .content {
      padding: 20px;
      max-width: 170px;
      margin: auto;
      background: rgba(255, 255, 255, 0.65); }
      #homePage .dirMenu .menu-item > .content > .sub-title {
        font-size: 1.4em !important;
        letter-spacing: 2px;
        font-weight: 400; }

@media (min-width: 576px) {
  #authPage .styled-button {
    display: inline-block;
    position: relative;
    width: 45%; }
    #authPage .styled-button.google {
      float: right; }

  #shopPage .collection-preview .preview-title {
    font-size: 3em !important; }
  #shopPage .collection-item {
    display: inline-block;
    width: 100%; }
    #shopPage .collection-item > .bg-img-container {
      height: 600px;
      overflow: hidden; }
      #shopPage .collection-item > .bg-img-container > .bg-img {
        min-height: 100% !important;
        width: auto; }
      #shopPage .collection-item > .bg-img-container > button {
        display: block !important; }
    #shopPage .collection-item > .name {
      font-size: 2em !important; }
    #shopPage .collection-item > .price {
      font-size: 2em !important; } }
@media (min-width: 768px) {
  #shopPage .collection-preview .preview-title {
    font-size: 2.7em !important; }
  #shopPage .collection-item {
    display: inline-block;
    width: 100%; }
    #shopPage .collection-item > .bg-img-container {
      height: 350px;
      overflow: hidden; }
      #shopPage .collection-item > .bg-img-container:hover button {
        display: block !important; }
      #shopPage .collection-item > .bg-img-container > .bg-img {
        position: relative;
        min-height: 100% !important;
        width: auto; }
      #shopPage .collection-item > .bg-img-container > button {
        display: none !important;
        z-index: 1; }
    #shopPage .collection-item > .name {
      font-size: 1.8em !important; }
    #shopPage .collection-item > .price {
      font-size: 1.8em !important; }

  #homePage .dirMenu .menu-item.lg {
    padding: 60px; }
  #homePage .dirMenu .menu-item > .content > .sub-title {
    font-size: 1.4em !important; } }
@media (min-width: 992px) {
  #homePage .dirMenu .menu-item {
    height: 340px; }
    #homePage .dirMenu .menu-item img {
      height: 100%;
      width: auto; }
    #homePage .dirMenu .menu-item.lg {
      height: 440px;
      padding: 100px; }
    #homePage .dirMenu .menu-item > .content {
      position: relative;
      padding: 30px 20px 30px 20px;
      top: calc(50% - 55px); }
      #homePage .dirMenu .menu-item > .content > .sub-title {
        font-size: 1.4em !important; } }
@media (min-width: 1200px) {
  #homePage .dirMenu .menu-item img {
    height: auto;
    width: 101%; }
  #homePage .dirMenu .menu-item > .content > .sub-title {
    font-size: 1.4em !important; } }
@media (min-width: 1900px) {
  #shopPage .collection-preview .preview-title {
    font-size: 3em !important; }
  #shopPage .collection-item {
    display: inline-block;
    width: 100%; }
    #shopPage .collection-item > .bg-img-container {
      height: 650px;
      overflow: hidden; }
      #shopPage .collection-item > .bg-img-container > .bg-img {
        min-height: 100% !important;
        width: auto; }
    #shopPage .collection-item > .name {
      font-size: 2.4em !important;
      float: left; }
    #shopPage .collection-item > .price {
      font-size: 2.4em !important;
      float: right; }

  #homePage .dirMenu .menu-item {
    height: 500px; }
    #homePage .dirMenu .menu-item.lg {
      height: 700px; }
    #homePage .dirMenu .menu-item > .content > .sub-title {
      font-size: 1.4em !important; } }

/*# sourceMappingURL=App.css.map */
